body{
	margin: 0;
	padding: 0;
	font-family: arial;
	background: url(background.jpg) no-repeat;
	background-size: cover;
}
.class1{
	color: black;
}

.class1 input{
	background: #c0d9b1;
}
.navigation{
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0px;
    width: auto;
    background-color: #0b0a0a;
    opacity: 0.85;
}

.navigation li a{
	display: inline-block;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
}
.navigation li{
    float:left;
    border:1px solid black;
    list-style-type: none;
}

.navigation a:hover:not(.active) 
{
    background-color: green;
}

.navigation a.active
{
    background-color: #EAB126;

}
.text_area{
	font-size: 20px;
	background-color: #090909;
	font-family: all;
	border: 2px solid white;
	opacity: 0.7;
	color: white;
	width: 857px;
	height: 514px;
	resize: none;
}
.btn{
	width: 15%;
	background: white;
	color: #050404;
	padding: 2px;
	font-size: 15px;
	cursor: pointer;
	margin: 10px 0;
	font-family: arial;
}

.btn input{
	background: #c0d9b1;
}